@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url(css/_Header.css);
@import url(css/_Home.css);
@import url(css/_MoviesList.css);
@import url(css/_Sidebar.css);
@import url(css/_SingleMovie.css);
@import url(css/_SearchList.css);
@import url(css/_ErrorPage.css);
@import url(css/_ContactsPage.css);
@import url(css/_SignInPage.css);

* {
    box-sizing: border-box;
}

#page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

main {
    padding-top: 80px;
}
