@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body {
  width: 1440px;
}

.header .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 80px;
  border-bottom: 1px solid #EFEEF3;
  margin-bottom: 100px;
}

.header .link .logo img {
  width: 30px;
  height: 30px;
  margin-right: 12.55px;
}

.header .link .headline {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  color: #16133D;
}

main .title {
  height: 81px;
  margin-bottom: 40px;
}

main .title span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7690A8;
  padding-bottom: 15px;
}

main .title h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #16133D;
  margin-top: 15px;
}

main .cards {
  display: flex;
  height: 340px;
}

main .cards .blok {
  width: 370px;
  height: 340px;
}

main .cards .blok .mini__blok {
  width: 64px;
  height: 64px;
  border: 1px solid #EFEEF3;
  border-radius: 14px;
  margin: 40px 0 0 40px;
}

main .cards .item__design {
  margin-right: 30px;
}

main .cards .item__ecommerce {
  margin-right: 30px;
}

footer .footer {
  background-color: #16133D;
  height: 153px;
  margin-top: 100px;
  padding-left: 135px;
  padding-top: 40px;
}

footer .footer .footer__logo .link_logo {
  display: flex;
  text-decoration: none;
}

footer .footer .footer__logo .link_logo .logo_text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  color: #FFFFFF;
  margin-left: 12.55px;
}

footer .socials {
  margin-top: 40px;
}

footer .socials .link {
  margin-right: 7px;
}

.item__design,
.item__ecommerce,
.item__application {
  border: 1px solid #EFEEF3;
  border-radius: 10px;
}

.item__design:hover,
.item__ecommerce:hover,
.item__application:hover {
  border: 1px solid #3DB370;
  border-radius: 7px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #16133D;
  margin: 30px 0 0 40px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #16133D;
  margin: 15px 0 30px 40px;
}

a.learn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3DB370;
  text-decoration: none;
  margin-left: 40px;
}

svg.icon__main {
  margin: 14px 12.25px 14px 13px;
}

.insta,
.facebook,
.github,
.ribbble,
.twitter {
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border-radius: 7px;
}

path.hover:hover {
  fill: #3DB370;
}

.item__design:hover path.dark,
.item__ecommerce:hover path.dark,
.item__application:hover path.dark {
  fill: #52c29d;
}

.item__design:hover path.middle,
.item__ecommerce:hover path.middle,
.item__application:hover path.middle {
  fill: #caeff2;
}

.item__design:hover path.light,
.item__ecommerce:hover path.light,
.item__application:hover path.light {
  fill: #e1f4f5;
}

s.item__design:hover path.lighten,
.item__ecommerce:hover path.lighten,
.item__application:hover path.lighten {
  fill: #f4feff;
}

svg.none {
  display: none;
}

/*далі @media*/
@media screen and (max-width: 1315px) {
  .container {
    max-width: 1285x;
  }

  body {
    width: 1315px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1250x;
  }

  body {
    width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 996px;
  }

  body {
    width: 1024px;
  }

  footer .footer .insta,
  footer .footer .facebook,
  footer .footer .github,
  footer .footer .ribbble,
  footer .footer .twitter {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 834px) {
  .container {
    max-width: 804px;
    padding: 0 15px;
  }

  body {
    width: 834px;
  }

  body .header .link {
    height: 55px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: start;
    width: 738px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 804px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
    display: flex;
  }

  body footer .footer .socials .link {
    margin-right: 10px;
  }

  h2 {
    font-size: 27px;
    margin: 10px 0 5px 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    margin: 15px 5px 50px 10px;
  }

  a.learn {
    font-size: 35px;
    margin-left: 30px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    max-width: 790px;
    padding: 0 15px;
  }

  body {
    width: 820px;
  }

  body .header .link {
    height: 55px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: start;
    width: 738px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 738px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
    display: flex;
  }

  body footer .footer .socials .link {
    margin-right: 10px;
  }

  h2 {
    font-size: 27px;
    margin: 10px 0 5px 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    margin: 15px 5px 50px 10px;
  }

  a.learn {
    font-size: 35px;
    margin-left: 30px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 570px;
    padding: 0 15px;
  }

  body {
    width: 600px;
  }

  body .header .link {
    height: 55px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    width: 570px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 570px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
  }

  body footer .footer .socials .link {
    margin-right: 10px;
  }

  h2 {
    font-size: 27px;
    margin: 10px 0 5px 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    margin: 15px 5px 50px 10px;
  }

  a.learn {
    font-size: 35px;
    margin-left: 30px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 428px) {
  .container {
    max-width: 398px;
    padding: 0 15px;
  }

  body {
    width: 428px;
  }

  body .header .link {
    height: 55px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    width: 395px;
  }

  body .header .link .headline {
    font-size: 29px;
    line-height: 20px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 398px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  body footer .footer .socials .link {
    margin-right: 7px;
  }

  h2 {
    font-size: 27px;
    margin: 10px 0 5px 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    margin: 15px 5px 30px 10px;
  }

  a.learn {
    font-size: 35px;
    margin-left: 30px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    max-width: 384px;
    padding: 0 15px;
  }

  body {
    width: 414px;
  }

  body .header .link {
    height: 55px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    width: 395px;
  }

  body .header .link .headline {
    font-size: 29px;
    line-height: 20px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 384px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: start;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
    display: flex;
    justify-content: start;
  }

  body footer .footer .socials .link {
    margin-right: 7px;
  }

  svg.none {
    display: none;
  }

  h2 {
    font-size: 27px;
    margin: 10px 0 5px 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    margin: 15px 5px 30px 10px;
  }

  a.learn {
    font-size: 35px;
    margin-left: 30px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 414px) and (max-width: 375px) {
  .container {
    max-width: 345px;
    padding: 0 15px;
  }

  body {
    width: 375px;
  }

  body .header .link {
    height: 48px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    width: 345px;
  }

  body .header .link .headline {
    font-size: 27px;
    line-height: 20px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 345px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  body footer .footer .socials .link {
    margin-right: 7px;
  }

  h2 {
    margin: 10px 0 5px 0;
    text-align: center;
  }

  .text {
    font-size: 18px;
    margin: 15px 5px 30px 10px;
  }

  a.learn {
    font-size: 35px;
    margin-left: 30px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 414px) and (max-width: 360px) {
  .container {
    max-width: 330px;
    padding: 0 15px;
  }

  body {
    width: 360px;
  }

  body .header .link {
    height: 48px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    width: 290px;
  }

  body .header .link .headline {
    font-size: 20px;
    line-height: 20px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 330px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
  }

  body footer .footer .socials .link {
    margin-right: 7px;
  }

  svg.none {
    display: none;
  }

  .text {
    margin: 15px 0 30px 0px;
  }

  a.learn {
    font-size: 35px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 414px) and (max-width: 320px) {
  .container {
    max-width: 290px;
    padding: 0 15px;
  }

  body {
    width: 320px;
  }

  body .header .link {
    height: 48px;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    width: 290px;
  }

  body .header .link .headline {
    font-size: 20px;
    line-height: 20px;
  }

  body main .title {
    height: 65px;
    margin-bottom: 15px;
  }

  body main .title h1 {
    font-size: 30px;
    line-height: 25px;
  }

  body main .cards {
    display: block;
    height: 190px;
  }

  body main .cards .blok {
    width: 290px;
    height: 280px;
  }

  body main .cards .blok .mini__blok {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: none;
    margin: 10px 0 0 10px;
  }

  body footer .footer {
    height: 120px;
    margin-top: 660px;
    padding-left: 15px;
    padding-top: 10px;
  }

  body footer .footer .footer__logo .link_logo {
    display: flex;
    align-items: center;
  }

  body footer .footer .footer__logo .link_logo .logo_text {
    font-size: 25px;
    line-height: 25px;
  }

  body footer .footer .socials {
    margin-top: 20px;
  }

  body footer .footer .socials .link {
    margin-right: 7px;
  }

  .text {
    margin: 15px 0 30px 0px;
  }

  a.learn {
    font-size: 35px;
  }

  .insta,
  .facebook,
  .github,
  .ribbble,
  .twitter {
    width: 48px;
    height: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
