html { 
    font-family: 'Climate Crisis', cursive;}

img.align-left { 
    float: left
}
h2{
    background-color: #f9cc1b;
    color: black;
    }

h1 { 
    text-align: center;}

i{ 
    color: #493a08e5;
}