.wrapper_about {
    width: 100%;
    height: 100vh;

    .about_top {
        background: url(../../componets/img/Pages_bg.jpg) center center / cover no-repeat;
        width: 100%;
        position: relative;
        padding: 70px 0;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
            box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
        }

        .about_top_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            h1 {
                font-size: 42px;
                line-height: 50px;
                color: #fff;
                font-weight: 300;
                font-family: 'Ubuntu', sans-serif;
            }

            .navigation_about {
                font-size: 14px;
                line-height: 26px;
                color: #c7c7c7;
                font-family: 'Ubuntu', sans-serif;
                font-weight: normal;

                a {
                    text-decoration: none;
                    color: #c7c7c7;

                    &:hover {
                        transition: 0.5s ease;
                        color: #ff55a5;
                    }

                    .link_home {
                        position: relative;
                        margin-right: 40px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 0;
                            width: 40px;
                            bottom: 0;
                            top: 2px;
                            background: url(../../componets/img/Contacts/Arrow-right.svg) no-repeat center;
                            background-size: auto;
                            background-size: 16px auto;
                        }
                    }
                }
            }
        }
    }

    .about_section_first_bg {
        width: 100%;
        background-color: #2b2b31;
        padding: 70px 0;
        position: relative;

        .about_section_first {
            color: #c7c7c7;
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: 36px;
                line-height: 50px;
                color: #fff;
                font-weight: 300;
                font-family: 'Ubuntu', sans-serif;

                span {
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            .about_section_first_text {
                color: #c7c7c7;
                font-size: 16px;
                line-height: 26px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
            }

            .line {
                display: flex;

                .blok {
                    max-width: 418px;
                    display: block;
                    box-sizing: border-box;
                    border-top: none;
                    margin-top: 40px;
                    padding: 0 16px 0 10px;
                    display: flex;
                    gap: 20px;

                    .img {
                        width: 50px;
                        height: 50px;
                        border-radius: 8px;
                        background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .content {
                        .title {
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 400;
                            color: #fff;
                            margin-bottom: 15px;
                            font-family: 'Ubuntu', sans-serif;
                        }

                        .text {
                            max-width: 332px;
                            color: #c7c7c7;
                            font-size: 16px;
                            line-height: 26px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .about_section_second_bg {
        width: 100%;
        background-color: #28282d;
        padding: 70px 0;
        position: relative;
        border-bottom: 1px solid #353232;

        h2 {
            font-size: 36px;
            line-height: 50px;
            color: #fff;
            font-weight: 300;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 30px;
        }

        .about_section_second_content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .column {
                max-width: 100%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-top: var(--bs-gutter-y);

                .number {
                    font-size: 50px;
                    line-height: 100%;
                    font-weight: 500;
                    margin-bottom: 15px;
                    display: inline-block;
                    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #ff5860;
                }

                h3 {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 15px;
                    font-family: 'Ubuntu', sans-serif;
                }

                .text {
                    color: #c7c7c7;
                    font-size: 16px;
                    line-height: 26px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: normal;
                    max-width: 401px;
                }
            }
        }
    }

    .about_section_third_bg {
        width: 100%;
        background-color: #28282d;
        padding: 70px 0;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        .swiper {
            position: static;

            .swiper-button-prev {
                position: absolute;
                top: 0px;
                left: var(--swiper-navigation-sides-offset, 1180px);
                opacity: .7;
                width: 50px;
                height: 70px;

                &::after {
                    content: url('../../componets/img/Home/Rounded-square.svg');
                    position: absolute;
                    z-index: 5;
                    left: 0;
                    top: 22px;
                    bottom: 0;
                    width: 45px;
                    background-size: 100% auto;
                }

                &:hover {
                    opacity: 1;
                    transition: 0.7s ease;
                }
            }

            .swiper-button-next {
                position: absolute;
                top: 0;
                right: 0;
                opacity: .7;
                width: 50px;
                height: 70px;

                &::after {
                    content: url('../../componets/img/Home/Rounded-square.svg');
                    position: absolute;
                    z-index: 5;
                    left: 0;
                    top: 22px;
                    bottom: 0;
                    width: 45px;
                    background-size: 100% auto;
                    transform: rotate(-0.5turn);
                }

                &:hover {
                    opacity: 1;
                    transition: 0.7s ease;
                }
            }
        }

        h2 {
            font-size: 36px;
            line-height: 50px;
            color: #fff;
            font-weight: 300;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 30px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 157px;
                left: 0;
                right: 0;
                height: 2px;
                display: block;
                background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .bg_swiper_about {
            background-color: #2B2B31;
            width: 100%;
            padding: 30px;
            border-radius: 8px;
            padding: 30px 20px;
            border: 1px solid rgba(255, 255, 255, 0.05);

            .wrapper_slider_about {
                max-width: 392px;

                h4 {
                    margin-bottom: 60px;
                    font-size: 20px;
                    line-height: 30px;
                    color: #fff;
                    font-weight: 400;
                    display: block;
                    margin-bottom: 50px;
                    padding-left: 10px;
                    font-family: 'Ubuntu', sans-serif;
                    position: relative;
                }

                .pink_round {
                    position: relative;

                    &::after {
                        position: absolute;
                        bottom: 24px;
                        left: 0;
                        right: 0;
                        content: '';
                        display: block;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        opacity: 0.12;
                        z-index: 1;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: normal;
                        background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                    }

                    &::before {
                        position: absolute;
                        bottom: 28px;
                        left: 4px;
                        right: 0;
                        content: "";
                        display: block;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        z-index: 2;
                        font-family: "Ubuntu", sans-serif;
                        font-weight: normal;
                        background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                    }
                }

                .white_round {
                    position: relative;

                    &::after {
                        position: absolute;
                        bottom: 24px;
                        left: 0;
                        right: 0;
                        content: '';
                        display: block;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        opacity: 0.12;
                        z-index: 1;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: normal;
                        background: #fff;
                    }

                    &::before {
                        position: absolute;
                        bottom: 31px;
                        left: 7px;
                        right: 0;
                        content: "";
                        display: block;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        z-index: 2;
                        font-family: "Ubuntu", sans-serif;
                        font-weight: normal;
                        background: #fff;
                    }
                }

                .pink_round_left {
                    margin-bottom: 15px;
                    font-family: 'Open Sans', sans-serif;
                    color: #c7c7c7;
                    font-size: 16px;
                    line-height: 26px;
                    padding-left: 16px;
                    position: relative;
                    font-weight: normal;

                    &::before {
                        position: absolute;
                        top: 10px;
                        left: 0;
                        content: "";
                        display: block;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                        z-index: 2;
                        background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                    }
                }

                .white_round_left {
                    margin-bottom: 15px;
                    font-family: 'Open Sans', sans-serif;
                    color: #c7c7c7;
                    font-size: 16px;
                    line-height: 26px;
                    padding-left: 16px;
                    position: relative;
                    font-weight: normal;

                    &::before {
                        position: absolute;
                        top: 10px;
                        left: 0;
                        content: "";
                        display: block;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                        z-index: 2;
                        background: #fff;
                    }
                }
            }
        }
    }

    .about_section_fourth_bg {
        width: 100%;
        background-color: #2B2B31;
        padding: 70px 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
            box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
        }

        h2 {
            font-size: 36px;
            line-height: 50px;
            color: #fff;
            font-weight: 300;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 30px;
        }

        .text {
            color: #c7c7c7;
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            max-width: 1080px;

            a {
                color: #ff55a5;
                text-decoration: none;
                transition: 0.5s ease;

                &:hover {
                    color: #ff5860
                }
            }
        }

        .bg_nav_partners {
            padding: 30px 0;
            width: 100%;
            background-color: #28282d;
            border-radius: 8px;
            position: relative;
            border: 1px solid rgba(255, 255, 255, 0.05);
            margin-top: 24px;

            nav ul {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;

                li a {
                    border-right: 1px solid rgba(255, 255, 255, 0.05);
                    padding: 0 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 80px;
                    max-width: 216px;

                    img {
                        width: 100%;
                        max-width: 157px;
                        display: block;
                        transition: opacity 0.5s ease;
                        opacity: 0.7;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
