.container_home {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
}

.home-blok {
    // position: relative;
    // width: 100%;
    // height: 0;
    // padding-top: 56.25%;


    .home {
        width: 100vw;
        height: 100%;
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;

    }

    .wrapper_home {
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;

        .home_title {
            // font-size: 40px;
            font-size: calc(32px + 8 * ((100vw - 320px) / (1300 - 320)));
            line-height: 52px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'Ubuntu', sans-serif;
            position: absolute;
            top: 180px;
            z-index: 3;

            span {
                font-weight: 500;
            }
        }

        .button_home {
            z-index: 4;
            position: absolute;
            right: 0;
            top: 730px;

            a {
                text-decoration: none;

                button {
                    z-index: 3;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    gap: 5px;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                    background-image: linear-gradient(90deg, #ff5860 0%, #ff55a5 100%);
                    box-shadow: 0 0 16px 0 rgba(255, 88, 96, 0.3);
                    border-radius: 8px;
                    border: 1px solid #ff55a5;
                    position: relative;
                    transition: 0.5s ease;
                    margin-top: 25px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: "Ubuntu", sans-serif;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.6px;

                    &:hover {
                        transition: opacity .9s ease;
                        box-shadow: 0 0 16px 0 rgba(255, 88, 96, 0.6);
                        background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                    }

                    :hover:before {
                        opacity: 1;
                        transition: opacity .9s ease;
                    }
                }
            }
        }

        .swiper {
            width: 100%;
        }

        .swiper-slide {
            text-align: center;
        }

        .mySwiper2 {
            position: absolute;
            z-index: 1;
            height: 100vh;

            a {
                img.bg_img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .mySwiper {
            position: absolute;
            top: 180px;
            display: flex;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
            z-index: 4;
            height: 550px;
            padding-top: 100px;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 10px;

                a {
                    text-decoration: none;

                    &:hover img.play_button {
                        opacity: 1;
                        transform: translateY(-50%) translateX(-50%) scale(1.2);
                    }

                    img {
                        width: 234px;
                        border-radius: 10px;
                    }

                    .bg {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 234px;
                        opacity: 0;
                        height: 351px;
                        border-radius: 10px;

                        &:hover {
                            content: "";
                            opacity: 0.7;
                            position: absolute;
                            background: linear-gradient(171deg, rgba(255, 85, 165, 1) 0%, rgba(255, 88, 96, 1) 100%);
                            transform: scale(1.0);
                            transition: 0.5s ease;
                        }
                    }

                    .play_button {
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        opacity: 0;
                        transition: 0.8s ease;
                        width: 64px;
                        height: 64px;
                    }
                }

                h2 {
                    margin-top: 10px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'Ubuntu', sans-serif;
                    line-height: 1.5;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 210px;
                    font-size: calc(18px + 2 * ((100vw - 320px) / (1300 - 320)));

                    &:hover {
                        color: #ff55a5;
                        transition: 0.5s ease;
                    }
                }

                .rating {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    line-height: 1.5;
                    text-align: left;
                    position: relative;
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 5px;
                    padding-left: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 16px;
                        background: url("../../componets/img/Star.svg") no-repeat center;
                        background-size: 100% auto;
                    }
                }
            }

            .swiper-button-prev {
                position: absolute;
                top: 0px;
                left: var(--swiper-navigation-sides-offset, 1180px);
                opacity: .7;
                width: 50px;
                height: 70px;

                &::after {
                    content: url('../../componets/img/Home/Rounded-square.svg');
                    position: absolute;
                    z-index: 5;
                    left: 0;
                    top: 22px;
                    bottom: 0;
                    width: 45px;
                    background-size: 100% auto;
                }

                &:hover {
                    opacity: 1;
                    transition: 0.7s ease;
                }
            }

            .swiper-button-next {
                position: absolute;
                top: 0;
                right: 0;
                opacity: .7;
                width: 50px;
                height: 70px;

                &::after {
                    content: url('../../componets/img/Home/Rounded-square.svg');
                    position: absolute;
                    z-index: 5;
                    left: 0;
                    top: 22px;
                    bottom: 0;
                    width: 45px;
                    background-size: 100% auto;
                    transform: rotate(-0.5turn);
                }

                &:hover {
                    opacity: 1;
                    transition: 0.7s ease;
                }
            }
        }

        .bg_filter {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #222028;
            z-index: 2;
            opacity: .9;
        }
    }
}





@media (max-width: 1400px) {
    .container_home {
        max-width: 1116px !important;
    }

    .home .wrapper_home .mySwiper .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 980px)
    }

}

@media (max-width: 1200px) {
    .container_home {
        max-width: 936px !important;
    }

    .home .wrapper_home .mySwiper .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 800px)
    }
}

@media (max-width: 1000px) {
    .container_home {
        max-width: 820px !important;
    }

    .home .wrapper_home .mySwiper .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 700px)
    }

    .home .wrapper_home .mySwiper .swiper-slide a .bg {
        display: none;
    }

    .home .wrapper_home .mySwiper .swiper-slide a:hover img.play_button {
        display: none;
    }
}

@media (max-width: 900px) {
    .container_home {
        max-width: 720px !important;
    }

    .home .wrapper_home .mySwiper .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 600px)
    }
}

@media (max-width: 768px) {
    .container_home {
        max-width: 540px !important;
    }

    .home .wrapper_home .mySwiper .swiper-button-prev {
        display: none;
    }

    .home .wrapper_home .mySwiper .swiper-button-next {
        display: none;
    }
}


@media (max-width: 575px) {
    .container_home {
        max-width: 500px !important;
    }

    .home .wrapper_home {
        .home_title {
            top: 120px;
        }

        .button_home {
            top: 660px;
        }

        .mySwiper {
            top: 100px;

            .swiper-slide {
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 520px) {
    .container_home {
        max-width: 400px !important;
    }

    .home .wrapper_home {
        .home_title {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .mySwiper {
            top: 120px;

        }
    }
}

@media (max-width: 500px) {
    .container_home {
        max-width: 350px !important;
    }

    .home .wrapper_home {
        .home_title {
            top: 80px;
        }

        .mySwiper {
            top: 100px;
        }
    }

    .home .wrapper_home .button_home {
        top: 630px;
    }
}

@media (max-width: 480px) {
    .container_home {
        max-width: 350px !important;
    }

    .home .wrapper_home .mySwiper .swiper-slide a img {
        width: 190px;
    }

    .home .wrapper_home .mySwiper .swiper-slide {

        display: block;
    }

    .home .wrapper_home .mySwiper .swiper-slide a {
        display: flex;
        justify-content: center;
    }

    .home .wrapper_home .button_home {

        top: 547px
    }
}

@media (max-width: 425px) {

    .home .wrapper_home .mySwiper .swiper-slide a img {
        width: 120px;
    }

    .home .wrapper_home .button_home {
        top: 447px
    }
}
