.movies {
    display: grid;
    grid-template-columns: repeat(4, 247px);
    gap: 40px;

    .movie {
        img {
            width: 247px;
            height: 367px;
        }
    }
}

// .css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected2 {
//     background-color: #ff55a5;
//     opacity: .85;

//     &:hover {
//         opacity: 1;
//     }
// }
