.wrapper_policy {
    width: 100%;


    .policy_top {
        background: url(../../componets/img/Pages_bg.jpg) center center / cover no-repeat;
        width: 100%;
        position: relative;
        padding: 70px 0;


        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
            box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
        }

        .policy_top_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            h1 {
                font-size: 42px;
                line-height: 50px;
                color: #fff;
                font-weight: 300;
                font-family: 'Ubuntu', sans-serif;
                padding-top: 80px;
            }

            .navigation_policy {
                font-size: 14px;
                line-height: 26px;
                color: #c7c7c7;
                font-family: 'Ubuntu', sans-serif;
                font-weight: normal;

                a {
                    text-decoration: none;
                    color: #c7c7c7;

                    &:hover {
                        transition: 0.5s ease;
                        color: #ff55a5;
                    }

                    .link_home {
                        position: relative;
                        margin-right: 40px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 0;
                            width: 40px;
                            bottom: 0;
                            top: 2px;
                            background: url(../../componets/img/Contacts/Arrow-right.svg) no-repeat center;
                            background-size: auto;
                            background-size: 16px auto;
                        }
                    }
                }
            }
        }
    }

    .policy_bottom_bg {
        width: 100%;
        background-color: #2b2b31;
        padding: 70px 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            display: block;
            background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
            box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
        }

        .policy_bottom {
            color: #c7c7c7;
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .second_level {
                padding-left: 15PX;
            }

            .third_level {
                padding-left: 30PX;
            }

            a {
                color: #ff55a5;
                text-decoration: none;
                transition: 0.5s ease;

                &:hover {
                    color: #ff5860
                }
            }
        }
    }
}
