.header {
  width: 100%;
  background-color: #2B2B31;
  position: fixed;
}

.header .header_container {
  display: grid;
  grid-template-columns: 248px 1fr 232px 84px 130px 40px;
  align-items: center;
  height: 80px;
}

.header .header_container .logo {
  width: 248px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28282D;
}

.header .header_container .logo:hover {
  background-color: #2B2B31;
}

.header .header_container .logo a img {
  max-width: 120px;
}

.header .header_container .nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header .header_container .nav ul li {
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header .header_container .nav ul li:hover a {
  color: #ff55a5;
}

.header .header_container .nav ul li a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}

.header .header_container .nav ul li a .active {
  border-bottom: 1px solid #ff55a5;
}

.header .header_container form {
  position: relative;
}

.header .header_container form label input {
  background: transparent;
  font-family: "Ubuntu", sans-serif;
  width: 232px;
  height: 40px;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
  background-color: #28282D;
  border: 2px solid transparent;
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
}

.header .header_container form label svg {
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
}

.header .header_container form label svg path:hover {
  fill: #ff55a5;
}

.header .header_container form label input#search_button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  opacity: 0;
}

.header .header_container .search {
  position: absolute;
  background-color: #2B2B31;
  z-index: 2;
  max-width: 232px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
  border-radius: 4px;
  margin-top: 19px;
}

.header .header_container .search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}

.header .header_container .movie a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
}

.header .header_container .movie a:hover {
  color: #ff55a5;
}

.header .favourites {
  display: flex;
  justify-content: center;
}

.header .favourites svg {
  fill: #f6f6f5;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.header .favourites svg path:hover {
  fill: #ff55a5;
}

.header .account button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  opacity: 0.85;
  border-radius: 4px;
  border: 1px solid #ff55a5;
}

.header .account button:hover {
  opacity: 1;
}

.header .account button span {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.header .burger-menu {
  display: none;
}

@media (max-width: 1200px) {
  .header .header_container {
    grid-template-columns: 3fr 1fr 0.5fr 1fr 0.5fr;
  }

  .header .header_container .logo {
    width: 210px;
  }

  .header .header_container .logo:hover {
    background-color: #2B2B31;
  }

  .header .header_container .logo a img {
    max-width: 120px;
  }

  .header .header_container .nav {
    display: none;
  }

  .header .header_container .burger-menu {
    display: flex;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 720px;
  }

  .header .header_container {
    display: flex;
    justify-content: end;
    gap: 30px;
  }

  .header .header_container .logo {
    margin-right: 168px;
  }

  .header .header_container form label input {
    display: none;
  }

  .header .header_container form label svg {
    width: 22px;
    height: 22px;
    right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 510px;
  }

  .header .header_container {
    height: 70px;
  }

  .header .header_container .logo {
    width: 157px;
    height: 70px;
    margin-right: 139px;
  }

  .header .header_container .logo a img {
    max-width: 100px;
    max-height: 30px;
  }

  .header .header_container .account button {
    height: 40px;
    width: 40px;
    position: relative;
  }

  .header .header_container .account button::before {
    content: url(../../componets/img/Sign_in.svg);
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    width: 22px;
    height: 22px;
  }

  .header .header_container .account button span {
    display: none;
  }
}

@media (max-width: 575px) {
  .header .container {
    max-width: 545px;
    justify-content: space-around;
  }

  .header .header_container .logo {
    max-width: 140px;
    margin-right: 0;
  }

  .header .header_container .logo a img {
    max-width: 100px;
    max-height: 30px;
  }

  .header .header_container .account button {
    height: 40px;
    width: 40px;
    position: relative;
  }

  .header .header_container .account button::before {
    content: url(../../componets/img/Sign_in.svg);
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    width: 22px;
    height: 22px;
  }

  .header .header_container .account button span {
    display: none;
  }
}

@media (max-width: 445px) {
  .header .container {
    max-width: 329px;
  }

  .header .header_container .logo {
    min-width: 110px;
  }

  .header .header_container .logo a img {
    max-width: 80px;
    max-height: 24px;
  }
}

@media (max-width: 350px) {
  .header .container {
    max-width: 270px;
    justify-content: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=_Header.css.map */
