.wrapper_home {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.wrapper_home .home_title {
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 80px;
  z-index: 3;
}
.wrapper_home .home_title span {
  font-weight: 500;
}
.wrapper_home .swiper {
  width: 100%;
}
.wrapper_home .swiper-slide {
  text-align: center;
}
.wrapper_home .mySwiper2 {
  position: absolute;
  z-index: 1;
  height: 100vh;
}
.wrapper_home .mySwiper2 a img.bg_img {
  width: 100%;
  object-fit: cover;
}
.wrapper_home .mySwiper {
  position: absolute;
  top: 100px;
  display: flex;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  height: 550px;
  padding-top: 100px;
}
.wrapper_home .mySwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}
.wrapper_home .mySwiper .swiper-slide a {
  text-decoration: none;
}
.wrapper_home .mySwiper .swiper-slide a:hover img.play_button {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%) scale(1.2);
}
.wrapper_home .mySwiper .swiper-slide a img {
  width: 234px;
  border-radius: 10px;
}
.wrapper_home .mySwiper .swiper-slide a .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 234px;
  opacity: 0;
  height: 351px;
  border-radius: 10px;
}
.wrapper_home .mySwiper .swiper-slide a .bg:hover {
  content: "";
  opacity: 0.7;
  position: absolute;
  background: linear-gradient(171deg, rgb(255, 85, 165) 0%, rgb(255, 88, 96) 100%);
  transform: scale(1);
  transition: 0.5s ease;
}
.wrapper_home .mySwiper .swiper-slide a .play_button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  transition: 0.8s ease;
  width: 64px;
  height: 64px;
}
.wrapper_home .mySwiper .swiper-slide h2 {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
}
.wrapper_home .mySwiper .swiper-slide h2:hover {
  color: #ff55a5;
  transition: 0.5s ease;
}
.wrapper_home .mySwiper .swiper-slide .rating {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-left: 20px;
}
.wrapper_home .mySwiper .swiper-slide .rating::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  background: url("../../componets/img/Star.svg") no-repeat center;
  background-size: 100% auto;
}
.wrapper_home .mySwiper .swiper-button-prev {
  position: absolute;
  top: 0px;
  left: var(--swiper-navigation-sides-offset, 1180px);
  opacity: 0.7;
  width: 50px;
  height: 70px;
}
.wrapper_home .mySwiper .swiper-button-prev::after {
  content: url("../../componets/img/Home/Rounded-square.svg");
  position: absolute;
  z-index: 5;
  left: 0;
  top: 22px;
  bottom: 0;
  width: 45px;
  background-size: 100% auto;
}
.wrapper_home .mySwiper .swiper-button-prev:hover {
  opacity: 1;
  transition: 0.7s ease;
}
.wrapper_home .mySwiper .swiper-button-next {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
  width: 50px;
  height: 70px;
}
.wrapper_home .mySwiper .swiper-button-next::after {
  content: url("../../componets/img/Home/Rounded-square.svg");
  position: absolute;
  z-index: 5;
  left: 0;
  top: 22px;
  bottom: 0;
  width: 45px;
  background-size: 100% auto;
  transform: rotate(-0.5turn);
}
.wrapper_home .mySwiper .swiper-button-next:hover {
  opacity: 1;
  transition: 0.7s ease;
}
.wrapper_home .bg_filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #222028;
  z-index: 2;
  opacity: 0.9;
}

/*# sourceMappingURL=_Home.css.map */
