.wrapper_sign-up {
  width: 100%;
  height: 100vh;
  display: block;
  box-sizing: border-box;
}
.wrapper_sign-up .wrapper_bg_sign-up {
  background: url(../../componets/img/Pages_bg.jpg) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper_sign-up .bg_form {
  max-width: 440px;
  height: 507px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #28282d;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  max-width: 440px;
  border-radius: 8px;
  position: absolute;
  bottom: 55%;
  right: 50%;
  transform: translateX(50%) translateY(50%);
}
.wrapper_sign-up .bg_form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}
.wrapper_sign-up .bg_form img {
  margin-bottom: 30px;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(1) {
  margin-bottom: 20px;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(1) input {
  width: 280px;
  height: 50px;
  background-color: #2b2b31;
  border: 1px solid transparent;
  position: relative;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  transition: 0.5s;
  outline: none;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(1) input:hover {
  border-color: #ff55a5;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(1) input:focus {
  border-color: #ff55a5;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(2) {
  margin-bottom: 20px;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(2) input {
  width: 280px;
  height: 50px;
  background-color: #2b2b31;
  border: 1px solid transparent;
  position: relative;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 20px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(2) input:hover {
  border-color: #ff55a5;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(2) input:focus {
  border-color: #ff55a5;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(3) {
  margin-bottom: 15px;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(3) input {
  width: 280px;
  height: 50px;
  background-color: #2b2b31;
  border: 1px solid transparent;
  position: relative;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 20px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(3) input:hover {
  border-color: #ff55a5;
}
.wrapper_sign-up .bg_form form .form-item-sign-up:nth-child(3) input:focus {
  border-color: #ff55a5;
}
.wrapper_sign-up .bg_form svg {
  color: #ff55a5;
}
.wrapper_sign-up .bg_form label {
  font-size: 14px;
  color: #c7c7c7;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  line-height: 22px;
  font-weight: normal;
}
.wrapper_sign-up .bg_form label a {
  color: #ff55a5;
  text-decoration: none;
  transition: 0.5s ease;
}
.wrapper_sign-up .bg_form label a:hover {
  color: #ff5860;
}
.wrapper_sign-up .bg_form button[type=submit] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  background-image: linear-gradient(90deg, #ff5860 0%, #ff55a5 100%);
  box-shadow: 0 0 16px 0 rgba(255, 88, 96, 0.3);
  border-radius: 8px;
  border: 1px solid #ff55a5;
  position: relative;
  transition: 0.5s ease;
  margin-top: 15px;
  cursor: pointer;
}
.wrapper_sign-up .bg_form button[type=submit]:hover {
  transition: opacity 0.9s ease;
  box-shadow: 0 0 16px 0 rgba(255, 88, 96, 0.6);
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
}
.wrapper_sign-up .bg_form button[type=submit]::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.9s ease;
  border-radius: inherit;
}
.wrapper_sign-up .bg_form button[type=submit] :hover:before {
  opacity: 1;
  transition: opacity 0.9s ease;
}
.wrapper_sign-up .bg_form button[type=submit] span {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: inherit;
}
.wrapper_sign-up .bg_form .other_link {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #c7c7c7;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.wrapper_sign-up .bg_form .other_link a {
  color: #ff55a5;
  text-decoration: none;
  transition: 0.5s ease;
}
.wrapper_sign-up .bg_form .other_link a:hover {
  color: #ff5860;
}

.error-message {
  color: #ff55a5;
  font-size: 10px;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  transition: 0.5s;
  opacity: 1;
  max-width: 280px;
  z-index: 2;
}

/*# sourceMappingURL=_SignUpPage.css.map */
