@import url(reset.css);
@import url(icons.css);
@import url(icons2.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro:wght@400;600&display=swap');
@import url(../fonts/icons_fonts.css);

%h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2C4058;
    text-transform: uppercase;
}

%h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
    text-transform: uppercase;
}

%p_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #2C4058;
}

%button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #000;
    padding: 16px 41px 17px;
    background: none;
    text-transform: uppercase;
}

%location {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

%h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
}

%p_news {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2C4058;
}

%p_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

%p_date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #55B7FF;
}

%slide_news_left {
    position: absolute;
    left: 115px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: none;
}

%svg_slide_news_left {
    width: 10px;
    height: 17px;
    position: absolute;
    top: 25%;
    transform: rotate(90deg) translateX(25%);
}

%slide_news_right {
    position: absolute;
    right: 115px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: none;
}

%svg_slide_news_right {
    width: 10px;
    height: 17px;
    position: absolute;
    top: 25%;
    transform: rotate(-90deg) translateX(-25%);
}

//variable / mixin / function
$colors: (
    background-color: #fff,
    icon-color: rgb(36, 235, 255),
    notice-color: rgb(62, 129, 253)
);

@mixin form-input {
    width: 310px;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    background-color: transparent;

    :focus {
        border-bottom: 3px solid #000;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 100vh;

    .header_slider {
        width: 100%;
        height: 100%;

        .header_navigation {
            .header_wrapper {
                height: 54px;
                position: fixed;
                padding-top: 53px;
                z-index: 100;
                width: 100%;
                display: flex;
                max-width: 1170px;
                transform: translateX(-50%);
                left: 50%;

                .menu {
                    display: flex;
                    justify-content: space-around;
                    margin: 0;
                    align-items: center;
                    width: 100%;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Source Sans Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #FFFFFF;
                        display: flex;
                        gap: 14px;
                        align-items: center;

                        &::before {
                            content: "";
                            display: block;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            width: 9px;
                            height: 9px;
                        }
                    }

                    a.active {
                        &::before {
                            background-color: #fff;
                        }
                    }
                }

                .link-social {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    a {
                        text-decoration: none;
                        border: 1px solid #fff;
                        background: none;
                        border-radius: 50%;
                        color: white;
                        width: 40px;
                        height: 40px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        .header__sticky {
            background-image: linear-gradient(to top, #55b7ff, #7e5aff);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
            padding: 8px 800px;
            top: 0px;
            z-index: 999 !important;
        }
    }

    .swiper-slide {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 80px;
                line-height: 98px;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                text-transform: uppercase;
            }

            p {
                @extend %p_name;
                letter-spacing: 0.3em;
                color: #FFFFFF;
            }
        }
    }

    .swiper-pagination {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-right: 52px;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: unset;
            border: 1px solid #fff;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }

    .link_next_section {
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 3;
        text-decoration: none;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: none;

        svg {
            width: 10px;
            height: 17px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.img_bg_header_second {
    filter: hue-rotate(90deg);
}

.img_bg_header_third {
    filter: hue-rotate(-90deg);
}

.img_bg_header_fourth {
    filter: hue-rotate(390deg);
}

.img_bg_header_fifth {
    filter: hue-rotate(690deg);
}

#facebook:hover,
#twitter:hover,
#insta:hover {
    border: 1px solid #fff;
    color: #9701FF;
    background-color: #fff;
}

.main {
    .projects {
        padding-top: 100px;
        display: flex;
        flex-direction: column;

        .title {
            @extend %h3;
            position: relative;
            padding: 30px 0 90px;
            display: flex;
            justify-content: center;

            &::before {
                position: absolute;
                top: 0px;
                width: 100px;
                border-top: 2px solid #2C4058;
                content: "";
            }
        }

        .projects_first {
            width: 100%;
            height: 100%;

            .container_projects_first {
                max-width: 1385px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                gap: 70px;
                padding: 0 215px 120px 0;

                .text {
                    max-width: 470px;
                    max-height: 350px;
                    padding-top: 151px;

                    h4 {
                        @extend %h4;
                    }

                    h3 {
                        @extend %h3;
                    }

                    p {
                        @extend %p_text;
                        padding: 19px 0 40px;
                    }

                    button {
                        @extend %button;
                    }

                    div {
                        padding: 60px 0 20px;

                        a {
                            @extend %location;

                            &::before {
                                content: url(../images/locatoin.png);
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        .projects_second {
            width: 100%;
            height: 100%;

            .container_project_second {
                max-width: 1385px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                gap: 64px;
                padding: 0 0 150px 215px;

                .text {
                    max-width: 476px;
                    max-height: 350px;
                    padding-top: 151px;

                    h4 {
                        @extend %h4;
                    }

                    h3 {
                        @extend %h3;
                    }

                    p {
                        @extend %p_text;
                        padding: 19px 0 40px;
                    }

                    button {
                        @extend %button;
                    }

                    div {
                        padding: 60px 0 20px;

                        a {
                            @extend %location;

                            &::before {
                                content: url(../images/locatoin.png);
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .news {
        width: 100%;
        height: 100%;
        background-image: url(../images/Background_news.png);
        background-repeat: no-repeat;
        background-size: cover;

        .container_news {
            padding: 120px 215px 100px 215px;
            height: 978px;
            position: relative;
            max-width: 1370px;
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto;

            h3 {
                @extend %h3;
                color: #fff;
                padding: 30px 0 90px;
                position: relative;
                display: flex;
                justify-content: center;

                &::before {
                    position: absolute;
                    top: 0px;
                    width: 100px;
                    border-top: 2px solid #fff;
                    content: "";
                }
            }

            .container_new {
                width: 1170px;
                margin: 0 auto;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);

                .news_slider {
                    position: relative;

                    .swiper-wrapper {

                        .swiper-slide {
                            background-color: #fff;
                            box-sizing: border-box;
                            width: 370px !important;
                            height: 514px;

                            h5 {
                                @extend %h5;
                                text-transform: uppercase;
                                padding: 30px 20px 15px 20px;
                            }

                            p {
                                @extend %p_news;
                                padding: 0 20px;
                            }

                            .autor {
                                display: flex;
                                padding: 39px 20px 30px 20px;

                                .foto_autor {
                                    width: 60px;
                                    height: 60px;
                                }

                                .name {
                                    @extend %p_name;
                                    color: #2C4058;
                                    text-transform: uppercase;
                                    padding: 7px 0 6px 20px
                                }

                                .date {
                                    @extend %p_date;
                                    padding-bottom: 7px
                                }
                            }
                        }
                    }
                }

                .swiper-pagination__news {
                    display: flex;
                    position: absolute;
                    bottom: -15%;
                    gap: 40px;
                    justify-content: center;

                    .swiper-pagination-bullet {
                        width: 10px;
                        height: 10px;
                        background-color: unset;
                        border: 1px solid #FFF;
                        opacity: 1;
                    }

                    .swiper-pagination-bullet-active {
                        background-color: #fff;
                    }
                }

                .swiper-button-prev {
                    color: #fff;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    width: 6px;
                    height: 16px;
                    padding: 12px 18px;
                    left: var(--swiper-navigation-sides-offset, 115px);
                    left: -80px;

                    &::after {
                        content: '';
                    }

                    svg {
                        width: 10px;
                        height: 17px;
                        position: absolute;
                        top: 25%;
                        transform: rotate(90deg) translateX(25%);
                    }
                }

                .swiper-button-next {
                    color: #fff;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    width: 6px;
                    height: 16px;
                    padding: 12px 18px;
                    right: var(--swiper-navigation-sides-offset, 115px);
                    right: -80px;

                    &::after {
                        content: '';
                    }

                    svg {
                        width: 10px;
                        height: 17px;
                        position: absolute;
                        top: 25%;
                        transform: rotate(-90deg) translateX(-25%);
                    }
                }
            }
        }
    }

    .gallery {
        padding-bottom: 150px;

        h3 {
            @extend %h3;
            padding: 30px 0 90px;
            margin-top: 150px;
            position: relative;
            display: flex;
            justify-content: center;

            &::before {
                position: absolute;
                top: 0px;
                width: 100px;
                border-top: 1px solid #2C4058;
                content: "";
            }
        }

        .gallery_items {
            display: grid;
            grid-template-columns: (repeat(4, 1fr));
            grid-template-rows: repeat((2, 1fr));
            gap: 10px;
            padding-bottom: 60px;
            grid-template-areas: 'img_first img_first img_second img_third'
                'img_first img_first img_four img_five';

            .img_first {
                grid-area: img_first;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                &:hover img.zoom {
                    opacity: 1;
                }

                img.zoom {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    left: 50%;
                    top: 50%;
                    opacity: 0;
                }
            }

            .img_second {
                grid-area: img_second;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                &:hover img.zoom {
                    opacity: 1;
                }

                img.zoom {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    left: 50%;
                    top: 50%;
                    opacity: 0;
                }
            }

            .img_third {
                grid-area: img_third;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                &:hover img.zoom {
                    opacity: 1;
                }

                img.zoom {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    left: 50%;
                    top: 50%;
                    opacity: 0;
                }
            }

            .img_four {
                grid-area: img_four;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                &:hover img.zoom {
                    opacity: 1;
                }

                img.zoom {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    left: 50%;
                    top: 50%;
                    opacity: 0;
                }
            }

            .img_five {
                grid-area: img_five;
                position: relative;

                &:hover {
                    opacity: .8;
                }

                &:hover img.zoom {
                    opacity: 1;
                }

                img.zoom {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    left: 50%;
                    top: 50%;
                    opacity: 0;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        button {
            @extend %button;
            margin: 0 auto;
            display: flex;
        }
    }

    .contacts {
        position: relative;

        .map_subsection {
            #map {
                width: 100%;
                height: 700px;
            }
        }

        .contact-wrap {
            background-color: map-get($colors, background-color);

            .container_contact {
                width: 770px;
                margin: auto;
                padding: 60px 45px 69px 45px;
                box-sizing: border-box;
                border: 1px solid black;
                max-height: 450px;
                background-color: #fff;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translateX(-50%);

                h4 {
                    @extend %h3;
                    position: relative;
                    padding: 30px 0 42px;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;

                    &::before {
                        position: absolute;
                        top: 0px;
                        width: 100px;
                        border-top: 2px solid #2C4058;
                        content: "";
                    }
                }

                .form {
                    display: flex;
                    justify-content: space-between;

                    .contact-info {
                        width: 320px;
                        float: left;
                        box-sizing: border-box;

                        .contact-info-list {
                            display: grid;
                            gap: 25px;

                            span {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                color: #000000;
                            }

                            a {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                color: #000000;
                            }
                        }
                    }

                    .contact-form {
                        width: 310px;
                        box-sizing: border-box;
                        float: left;
                        position: relative;

                        .contact-form-content {
                            input {
                                display: block;
                                @include form-input;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 50px;
                                color: #000000;

                                &:focus {
                                    border-bottom: 1px solid #000000;
                                }
                            }

                            input[type="submit"] {
                                width: 140px;
                                height: 50px;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                color: #000000;
                                border: 1px solid #000;
                                padding: 11px 34px 12px;
                                background: none;
                                text-transform: uppercase;
                                position: absolute;
                                right: 0;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 100%;
    background: url(../images/Background_footer.png) no-repeat;
    background-size: 100%;

    .conteiner_footer {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-bottom: 234px;

        div {
            padding-top: 203px;

            p {
                @extend %p_date;
                color: #fff;
                padding-top: 41px;
            }
        }

        .link-social {
            display: flex;
            gap: 20px;
            padding-top: 209px;

            a {
                text-decoration: none;
                border: 1px solid #fff;
                background: none;
                border-radius: 50%;
                color: white;
                width: 40px;
                height: 40px;
                box-sizing: border-box;
            }
        }
    }
}

//button hover color border
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;

    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        #{$vertical}: 0;
        #{$horizontal}: 0;
    }

    &::before {
        $h-side: if($horizontal =='left', 'right', 'left');
        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }

    &::after {
        $v-side: if($vertical =='top', 'bottom', 'top');
        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }

    &:hover {
        color: $hover;

        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }

        &::before {
            transition-delay: 0s, 0s, $duration;
        }

        &::after {
            transition-delay: 0s, $duration, 0s;
        }
    }
}

.draw-border-project-first {
    @include btn-border-drawing(#fff, #58aaff, 4px, bottom, right);
}

.draw-border-project-second {
    @include btn-border-drawing(#fff, #9800ff, 4px, bottom, right);
}

.draw-border-gallery {
    @include btn-border-drawing(#fff, #7e90c3, 4px, bottom, right);
}

.btn {
    background: none;
    border: none;
}

//inputs
input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

//burger menu
.gamburger___menu {
    display: none;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 18px;
    color: #FFFFFF;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 999;
    border: none;
    background: linear-gradient(to top, #55b7ff, #7e5aff);
    cursor: pointer;
}

.menu2 {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: linear-gradient(to top, #55b7ff, #7e5aff);
    color: white;
    list-style: none;
    padding-top: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.showMenu {
    transform: translateY(0);
}

.material-icons {
    color: white;
    font-size: 45px !important;
}

button.hamburger {
    width: 53px;
    height: 47px;
    box-sizing: border-box;
}

i.closeIcon {
    display: none;
}

@media screen and (max-width:1599px) {
    .main .projects .projects_first .container_projects_first {
        padding: 0 15px 120px 0;
    }

    .main .projects .projects_second .container_project_second {
        padding: 0 0 150px 15px;
    }

    .footer {
        background: url(../images/Background_footer.png) no-repeat;
    }
}

@media screen and (max-width:1400px) {
    .main .projects .projects_first .container_projects_first {
        justify-content: center;
    }

    .main .projects .projects_second .container_project_second {
        justify-content: center;
    }
}

@media screen and (max-width:1360px) {
    .main .news .container_news .container_new {
        width: 770px;
    }
}

@media screen and (max-width:1230px) {
    .header .header_slider .header_navigation .header_wrapper .menu {
        display: none;
    }

    .header .header_slider .header_navigation .header_wrapper .link-social {
        display: none;
    }

    .gamburger___menu {
        display: block;
    }

    .header .header_slider .header_navigation .header_wrapper {
        justify-content: space-around;
    }

    .main .projects .projects_first .container_projects_first .text {
        padding-top: 15px;
    }

    .main .projects .projects_second .container_project_second .text {
        padding-top: 15px;
    }

    #facebook,
    #twitter,
    #insta {
        width: 80px;
        height: 80px;
        font-size: 40px;
    }

    .main .gallery .gallery_items {
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 400px);
        grid-template-areas: "img_first img_first"
            "img_second img_third"
            "img_four img_five";
        justify-content: center;
    }

    %button {
        font-size: 18px;
    }

    %p_text {
        font-size: 22px;
    }

    %location {
        font-size: 20px;
    }

    .main .contacts .contact-wrap .container_contact .form .contact-info .contact-info-list span {
        font-size: 20px;
    }

    .main .contacts .contact-wrap .container_contact .form .contact-info .contact-info-list a {
        font-size: 20px;
    }

    .main .contacts .contact-wrap .container_contact .form .contact-form .contact-form-content input {
        font-size: 23px;
    }
}

@media screen and (max-width:1100px) {
    .header .swiper-slide .content h2 {
        font-size: 70px;
    }

    .main .projects .projects_first .container_projects_first {
        gap: 40px;
    }

    .main .projects .projects_second .container_project_second {
        gap: 15px;
    }
}

@media screen and (max-width:1000px) {
    .header .swiper-slide .content h2 {
        font-size: 100px;
    }

    .main .news .container_news .container_new {
        width: 370px;
    }

    .main .news .container_news .container_new .swiper-pagination__news .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }

    .header .swiper-pagination .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width:900px) {
    .header .swiper-slide .content h2 {
        font-size: 90px;
    }

    .main .projects .projects_first .container_projects_first {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .projects .projects_second .container_project_second {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:850px) {
    .main .gallery .gallery_items {
        grid-template-columns: repeat(1, 600px);
        grid-template-rows: repeat(5, 400px);
        grid-template-areas: "img_first"
            "img_second"
            "img_third"
            "img_four"
            "img_five";
        justify-content: center;
    }
}

@media screen and (max-width:800px) {
    .header .swiper-slide .content h2 {
        font-size: 80px;
    }

    .header .swiper-slide .content p {
        font-size: 14px;
    }

    .main .news .container_news h3 {
        text-align: center;
    }

    .main .projects .projects_second .text {
        padding-bottom: 40px;
    }

    .main .contacts .contact-wrap .container_contact {
        padding: 60px 45px 90px 55px;
        max-height: 850px;
    }

    .main .contacts .contact-wrap .container_contact .form {
        display: grid;
    }

    .main .contacts .contact-wrap .container_contact .form .contact-form {
        float: right;
    }

    .main .contacts .contact-wrap .container_contact {
        width: 470px;
        max-height: 950px;
    }

    .footer .conteiner_footer {
        padding-top: 200px;
        padding-bottom: 34px;
    }
}

@media screen and (max-width:700px) {
    .header .swiper-slide .content h2 {
        font-size: 70px;
    }

    .header .swiper-slide .content p {
        font-size: 12px;
    }

    .main .gallery .gallery_items {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas: "img_first"
            "img_second"
            "img_third"
            "img_four"
            "img_five";
    }
}

@media screen and (max-width:570px) {
    .header .swiper-slide .content h2 {
        font-size: 50px;
    }

    .header .swiper-slide .content p {
        font-size: 22px;
        line-height: 40px;
    }

    .main .projects {
        padding-top: 30;
    }

    %h3 {
        font-size: 40px;
    }

    .main .news .container_news .container_new .swiper-button-next,
    .main .news .container_news .container_new .swiper-button-prev {
        display: none;
    }

    .conteiner_footer {
        flex-direction: column;
        padding-top: 100px;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }

    .footer .conteiner_footer div {
        padding-top: 90px;
    }

    .link-social {
        padding-top: 0;
    }

    .footer .conteiner_footer .link-social {
        padding-top: 0;
    }

    .footer .conteiner_footer div p {
        padding: 15px 0;
    }
}

@media screen and (max-width:514px) {
    .header .swiper-slide .content h2 {
        font-size: 50px;
    }

    .header .swiper-slide .content p {
        font-size: 22px;
    }
}

@media screen and (max-width:500px) {
    .header .swiper-slide .content p {
        font-size: 20px;
    }

    .header .swiper-pagination {
        padding-right: 10px;
    }

    .main .projects .projects_first .container_projects_first .text {
        padding: 15px;
    }

    .main .projects .projects_second .container_project_second .text {
        padding: 0 15px 120px 15px;
    }
}
